{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties"
    ]
}